.carousel_css .ant-carousel .slick-list {
  height: 100% !important;
}

.carousel_css .ant-carousel .slick-slide {
  display: flex !important;
  justify-content: center !important;
  height: 250px !important;
}
