.headerWrapper{
    position: fixed;
    inset: 0;
    z-index: 100;

    width: 100%;
    height: 80px;

    background: linear-gradient(180deg, #354B99 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
}